{% extends "layout.html" %}

{% block page_header %}<h1>Unlinked Account</h1>{% endblock %}

{% block content %}
<p>
  You are currently logged into a Google Account that is not linked to a
  YouTube account. In order to use Party Playlist Picker, you must
  <a target=_blank href=http://www.youtube.com/create_channel>link your
  Google account</a> to a new or existing YouTube account.
</p>

<p>
  When you are finished, you may
  <a href="javascript:history.back()">continue</a>.
</p>
{% endblock %}
